*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
    background-color: white;
	display: flex;
	margin: auto;
}
main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 70vw;
	height: 99vh;
	margin: 0 12%;
	padding: 2% 0;
	box-shadow: 5px 5px 6px rgba(128, 128, 128, 0.5);
	background: linear-gradient(to bottom, RGBA(252, 253, 255, 0.98), RGBA(147, 208, 233, 0.9));
}
.first {
	display: flex;
	flex-flow: column nowrap;
    padding-top: 3%;
    background: linear-gradient(to bottom, RGBA(237, 247,255, 1), RGBA(237, 246, 253, 1));
	border-radius:10px;
	width: 26.1vw;
	height: 85vh;
	align-items: center;
	box-shadow: 2px 2px 6px rgba(128, 128, 128, 0.7);
}
.container {
	display: flex;
    font-family: Arial;
	font-weight: bolder;
	font-size: 35px;
	align-items: center;
    margin-bottom: 1%;
    width: 22rem;
    color: RGB(26 42 145);
    text-shadow: 2px 2px 4px rgba(60, 60, 60, 0.7);
	height: 2rem;
	

}
#typingtext {
	padding-left: 7%;
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation-name: typing;
	animation-duration: 1s;
	animation-timing-function: steps(30, end);
	animation-fill-mode: forwards;
    

}
@keyframes typing {
	from{ width: 0 }
	to { width: 100% }
}
.buttons {
    display: flex;
    flex-flow: column nowrap;
    background-color: transparent;
	border-radius: 2px;
	width: 23rem;
	height: 72.5vh;
	margin-top: 2%;
/*	border:1px solid black;*/
}
button {  
	margin: 5px;
	width: 4.85rem;
	height: 5.2rem;
/*	border: 1px solid #e5e5e5;*/
    border: none;
	background-color: rgb(76,72,250);
	border-radius: 7px;
	font-size: 21px;
	color: whitesmoke;
	font-family: Poppins;
	font-weight: 500;
	cursor: pointer;
	box-shadow: 0px 10px 6px -6px rgba(128, 128, 128, 0.99);
}
#plus {
	margin-left: 10px;
	height: 10.95rem;
	position: absolute;
}
#equal {
	width: 10.5rem;
	background-color: rgb(0,128,1);
}
#clear {
	font-size: 28px;
}
#clear, #del {
	background-color: rgb(219,21,58);
}
input:active, input:focus {
     outline: #e5e5e5;
    
}

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {

    -webkit-appearance:none;
}
input {
	flex-flow: column nowrap;
	display: flex;
	border-radius: 3px;
	border: 2px solid #1a2a91;
	width: 22.5rem;
	height: 3rem;
	background-color: white;
	align-items: baseline;
	font-size: 30px;
	font-family: Poppins;
	font-weight: 500;
	color: black;
}
@media screen and (max-width: 500px) {
	body {
   
	margin: 0;
}
main {
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	width: 99vw;
	height: 99vh;
	margin: 0 1%;
	padding: 5% 0;
	box-shadow: 15px 15px 6px -3px rgba(128, 128, 128, 0.5);
	background: linear-gradient(to bottom, RGBA(252, 253, 255, 0.98), RGBA(147, 208, 233, 0.9));
}
.first {
	display: flex;
	flex-flow: column nowrap;
    padding-top: 7%;
    background: linear-gradient(to bottom, RGBA(237, 247,255, 1), RGBA(237, 246, 253, 1));
	border-radius:10px;
	width: 76.5vw;
	height: 86vh;
	align-items: center;
/*	box-shadow: 3px 2px 2px 2px rgba(128, 128, 128, 0.8);*/
	box-shadow: 2px 2px 6px rgba(128, 128, 128, 0.7);
}
.container {
	display: flex;
    font-family: Arial;
	font-weight: bolder;
	font-size: 30px;
	align-items: center;
    margin-top: 2%;
    width: 18rem;
    color: RGB(26 42 145);
    text-shadow: 2px 2px 4px rgba(60, 60, 60, 0.7);
	height: 3rem;

}
#typingtext {
	padding-left: 5%;
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	animation-name: typing;
	animation-duration: 1s;
	animation-timing-function: steps(30, end);
	animation-fill-mode: forwards;
    

}
@keyframes typing {
	from{ width: 0 }
	to { width: 100% }
}
button {  
	margin: 5px;
	width: 4.85rem;
	height: 5.2rem;
/*	border: 1px solid #e5e5e5;*/
    border: none;
	background-color: rgb(76,72,250);
	border-radius: 7px;
	font-size: 21px;
	color: whitesmoke;
	font-family: Poppins;
	font-weight: 500;
	cursor: pointer;
	box-shadow: 0px 10px 6px -6px rgba(128, 128, 128, 0.99);
}
input {
	flex-flow: column nowrap;
	display: flex;
	border-radius: 3px;
	border: 2px solid #1a2a91;
	width: 21.9rem;
	height: 3rem;
	background-color: white;
	align-items: baseline;
	font-size: 30px;
	font-family: Poppins;
	font-weight: 500;
	color: black;
}
}